{% extends 'base.html' %}

{% block title %}
    About Page
{% endblock title %}

{% block body %}
    
<h1>About</h1>
<p>Welcome to My ToDo, your number one source for all things. We're dedicated to providing you the best of our reminder service, with a focus on dependability. customer service, and free todo recorder.


    We're working to turn our passion into a booming online ToDo Web. We hope you enjoy our products as much as we enjoy offering them to you.
    
    
    Sincerely,
    
    [founder name]</p>



{% endblock body %}